.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

/*** общие стили ***/

body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
}

.header__places{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
